@model DataService.Infrastructure.Entities.Employee

@{
    ViewData["Title"] = "Create";
    var privileges = ViewData["Privileges"] as IEnumerable<SelectListItem>;
}

<div class="d-flex justify-content-between">
    <h3 class="">Add new Employee</h3>
    <div class="">
        <a asp-action="Index" class="btn btn-primary">Back to List</a>
    </div>
</div>
<hr />
@* <div class="row"> *@
        <form asp-action="Create" class="row g-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-md-4">
                <label asp-for="Pin" class="control-label"></label>
                <input asp-for="Pin" class="form-control" />
                <span asp-validation-for="Pin" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="Privilege" class="control-label"></label>
                @* <input asp-for="Privilege" class="form-control" /> *@
                <select asp-for="Privilege" asp-items="@(privileges)" class="form-control"></select>
                <span asp-validation-for="Privilege" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="CardNumber" class="control-label"></label>
                <input asp-for="CardNumber" class="form-control" />
                <span asp-validation-for="CardNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
@* </div> *@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
