@model DataService.Core.Entities.Device

@{
    ViewData["Title"] = "Create";
}

<div class="d-flex">
    <div class="">
        <a asp-action="Index" class="btn btn-primary">Back to List</a>
    </div>
    <h3 class="">Add New Device</h3>

</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form>
            <div class="form-group mb-3">
                <label class="control-label">IP: </label>
                <input class="form-control" id="ip"/>
            </div>
            <div class="form-group mb-3">
                <label class="control-label">Port: </label>
                <input class="form-control" id="port"/>
            </div>
            <div class="form-group mb-3">
                <label class="control-label">CommKey: </label>
                <input class="form-control" id="commKey" />
            </div>
            <div class="form-group mb-3">
                <input type="button" value="Create" class="btn btn-primary" id="add-device"/>
            </div>
        </form>
    </div>
    <div class="col-lg-6 sheets mb-3">
        <div class="form-group d-flex flex-row gap-3 sheet mb-3">
            <input class="form-control w-25 sheetName" placeholder="SheetName" />
            <input class="form-control w-75 documentId" placeholder="DocumentId" />
        </div>
        <input type="button" value="Add New Sheet" class="btn btn-primary" id="add-sheet" />
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/devices/create.js" asp-append-version="true" type="module"></script>
}
